/*---------- GENERAL LAYOUT ----------*/
* {
  margin: 0;
  padding: 0;
  color: ivory;
}

h1 {
  margin: 20px 0;
}

.wrapper {
  background: rgb(250, 250, 245);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: auto;
  max-width: 1200px;
  padding: 2.25%; /* 18px / 800px */
  width: 100%;
}
/*---------- LANDING PAGE ----------*/

header {
  display: flex;
  justify-content: space-around;
}

.quotes {
  color: ivory;
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;

}

.new-user-container {
  display: flex;
  justify-content: space-around;
}

.gratitudes {
  width: 25%;
}

.gratitudes-list {
  list-style: none;
}

.gratitude {
  display: flex;
  justify-content: flex-start;
  margin: 10px 20px ;
}

/*---------- USER PAGE ----------*/

.card {
  background-color: rgb(133, 88, 66);
  text-align: center;
  border: grey solid 1px;
  padding: 1rem;
  width: 18rem;
  height: 25rem;
  display: inline-grid;
  margin: 1rem 2rem;
  box-shadow: 3px 4px #040a04;
}

card-img {
  justify-self: auto;
  height: 12rem;
  width: auto;
}

.bg-img {
  background: url("../Gratitudes_Project_JS-frontend/john-towner-3Kv48NS4WUU-unsplash.jpg")
    no-repeat right top;
  /* /* height: 800px; */
  background-size: cover;
}

.quote-img {
  background: url("../Gratitudes_Project_JS-frontend/keith-misner-h0Vxgz5tyXA-unsplash.jpg")
    no-repeat right top;
  height: 200px;
  background-size: cover;
}
